.big-card__container {
    align-items: flex-start;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
}

.big-card__title > h1 {
    font-size: 20px;
    margin-top: 15px;
}

.big-card__description {
    margin-top: 10px;
}

.big-card__description > p > a {
    color: grey;
}

.big-card__photo > img {
    min-width: 400px;
    width: 100%;
}